<nlog throwExceptions="true" autoReload="true">
    <extensions>
        <add assembly="NLog.StructuredLogging.Json" />
    </extensions>

	<variable name="processname" value="TicTacToe"/>
	<variable name="date-format" value="yyyy-MM-ddTHH\:mm\:ss.fffzz"/>
	<variable name="log-format" value="${level}: [${date:format=${date-format}}] ${threadid} - ${message}${onexception:\:${newline}${exception:format=tostring}}"/>
	<variable name="dir-name" value="${basedir}/../../Logs"/>
	<variable name="file-name" value="${dir-name}/${processname}.log"/>
	<variable name="file-name-cached" value="${cached:inner=${file-name}}"/>
	<variable name="file-name-json" value="${dir-name}/${processname}Exceptions.json"/>
	<variable name="file-name-json-cached" value="${cached:inner=${file-name-json}}"/>
	<variable name="file-name-events" value="${dir-name}/${processname}Events.json"/>
	<variable name="file-name-events-cached" value="${cached:inner=${file-name-events}}"/>

	<targets>
		<target name="console" type="Console" layout="${log-format}"/>
		<target name="file" type="File" fileName="${file-name-cached}" layout="${log-format}" createDirs="true" />
		<target name="file-exceptions" type="File" fileName="${file-name-json-cached}" layout="${structuredlogging.json}" createDirs="true" />
		<target name="file-events" type="File" fileName="${file-name-events-cached}" layout="${structuredlogging.json}" createDirs="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console" enabled="true" />
		<logger name="*" minlevel="Info" writeTo="file" enabled="true">
			<filters>
				<when condition="length('${exception}') > 0" action="Ignore"/>
				<when condition="equals('${logger}', 'Events')" action="Ignore"/>			
			</filters>
		</logger>
		<logger name="Events" minlevel="Info" writeTo="file-events" enabled="true" />
		<logger name="*" minlevel="Info" writeTo="file-exceptions" enabled="true">
			<filters>
				<when condition="length('${exception}') = 0" action="Ignore"/>
			</filters>
		</logger>
	</rules>
</nlog>